@charset "UTF8";
@font-face {
    font-family:'escrita';
    src: url(Sriracha/Sriracha-Regular.ttf);
}
@font-face {
    font-family:'One';
    src: url(Passion_One/PassionOne-Bold.ttf);
}

:root{
    --fonte1: verdana, geneva, tahoma,sans-serif;
    --fonte2: 'One';
    --fonte3: 'escrita';
}

*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9.2vw;
}
header p{
    padding-bottom:50px ;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.2vw;
}
section p{
    padding-bottom: 2em;
}
section.normal{
    background-color: rgb(255, 255, 255);
    color: black
}
section.image{
    background-color: rgb(31, 29, 0);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.562);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
section.image p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0 black;
}
section#img01{
    background-image: url(imagens/background001.jpg);
}
section#img02{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 1.7vw;
}